.search {
  padding: 14px 20px;
  height: 48px;
  width: 568px;
  border-radius: 8px 0 0 8px;
  border: 1px solid #121212;
  box-sizing: border-box;
  outline: none;
}
  .wrapper {
    display: flex;
    align-items: center;
    height: 48px;
    width: 634px; 
}
  
.searchIcon {
  width: 66px;
  height: 48px;
  border-radius: 0 8px 8px 0;
  border: 1px solid #121212;
  border-left: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  /* color: var(--color-green);  */
}
/*   
  .listElement {
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .albumTitle {
    font-size: 16px;
  }
  
  .albumArtists {
    font-size: 12px;
  }
   */